@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #dfe9f5;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px;
    background: #fff;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    margin: 2rem 8rem 2rem 2rem;
}

.search_box {
    display: flex;
    align-items: center;
}

.search_box input {
    padding: 9px;
    width: 250px;
    background: rgb(228, 228, 228);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search_box i {
    padding: 0.66rem;
    cursor: pointer;
    color: #fff;
    background: #06b88c;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 5px;
}

.header-icons {
    display: flex;
    align-items: center;
}

.header-icons i {
    margin-right: 2rem;
    cursor: pointer;
}

.header-icons .account {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-icons .account img {
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 50%;
}

.healthcare-footer {
    background-color: #06b88c;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.contact-info,
.social-media {
    flex: 1;
}

.contact-info h3,
.social-media h3 {
    color: #000000;
}

.contact-info p,
.social-media p {
    margin: 5px 0;
}



.container {
    display: flex;
}

nav {
    position: relative;
    top: 0;
    bottom: 0;
    height: 150vh;
    left: 0;
    background: #fff;
    width: 280px;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.logo {
    text-align: center;
    display: flex;
    margin: 10px 20px 0 10px;
}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.logo span {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

a {
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 280px;
    padding: 10px;
}

nav .fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
}

a:hover {
    background: #eee;
}


.html {
    color: rgb(25, 94, 54);
}

.css {
    color: rgb(104, 179, 35);
}

.js {
    color: rgb(28, 98, 179);
}
.blog {
    display: relative;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-block: 1rem;
    margin-left: 2rem;
    gap: 20rem;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.card {
    display: relative;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
   
    

}



.card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
}

.tag+.tag {
    margin-left: .5em;
}

.tag-blue {
    background: #06b88c;
    color: #fafafa;
}

.tag-brown {
    background: #06b88c;
    color: #fafafa;
}

.tag-red {
    background: #06b88c;
    color: #fafafa;
}

.card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.card__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
}

.user {
    display: flex;
    gap: .5rem;
}

.user__image {
    border-radius: 50%;
}

.user__info>small {
    color: #666;
}